body {
    overflow: hidden;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#sidebar {
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(52, 58, 64, 0.9);
    color: white;
    scroll-behavior: smooth;
}

#sidebar button {
    width: 100%;
    text-align: left;
    color: white;
}

#sidebar button:hover {
    background-color: #495057;
}

#content {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(48, 49, 50, 0.9);
    scroll-behavior: smooth;
}

.card {
    margin-bottom: 20px;
}

.rating-stars {
    color: #ffc107;
}
#companydetails {
    display: none;
}   
.hd{
    
    color: white;
    padding: 100px;
}
.bb{
    color: rgb(22, 242, 77);
    font-size: 100px;
}
.aa{
    color: white;
    font-size: 100px;
}
h4{
    color: white;
    font-size: 50px;
}
samp{color:rgb(22, 242, 77);
    font-size: 20px;
}